{% extends "bootstrap_ui/bootstrap-skeleton.html" %}
{% load i18n %}{% load static %}

{% block head-meta %}
    <meta name="robots" content="index, follow">
    <meta name="description" content='Stowarzyszenie Polska Grupa Użytkowników Pythona'>
    <meta name="keywords" content="PLPUG, Python">
    <meta name="author" content="plpug.org">
    <link rel="icon" type="image/png" href="{% static 'img/logo_plpug_16_16.png' %}" />
{% endblock %}

<title>{% block head-title %}Stowarzyszenie Polska Grupa Użytkowników Pythona{% endblock %}</title>

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" charset="utf-8">
{% endblock %}
{% block head-javascript %}
    {{ block.super }}
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body-content %}
    <header>
        <img src="{% static 'img/logo_plpug_on_light.png' %}" alt="PLPUG" class="logo" />
        <h1>{% trans 'Stowarzyszenie Polska Grupa Użytkowników Pythona' %}</h1>
    </header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}" title="O nas" class="{% if request.path == '/' %}active{% endif %}">O nas</a></li>
            <li class="{% if request.path == '/members' %}active{% endif %}"><a href="{% url 'members' %}" title="Zostań członkiem PLPUG" class="{% if request.path == '/members' %}active{% endif %}">Zostań członkiem PLPUG</a></li>
            <li class="{% if request.path == '/meetings' %}active{% endif %}"><a href="{% url 'meetings' %}" title="Spotkania" class="{% if request.path == '/meetings' %}active{% endif %}">Spotkania</a></li>
            <li class="{% if request.path == '/projects' %}active{% endif %}"><a href="{% url 'projects' %}" title="Projekty" class="{% if request.path == '/projects' %}active{% endif %}">Projekty</a></li>
            <li class="{% if request.path == '/history' %}active{% endif %}"><a href="{% url 'history' %}" title="Historia" class="{% if request.path == '/history' %}active{% endif %}">Historia</a></li>
            <li class="{% if request.path == '/partners' %}active{% endif %}"><a href="{% url 'partners' %}" title="Partnerzy" class="{% if request.path == '/partners' %}active{% endif %}">Partnerzy</a></li>
            <li class="{% if request.path == '/contact' %}active{% endif %}"><a href="{% url 'contact' %}" title="{% trans 'Kontakt' %}" class="{% if request.path == '/contact' %}active{% endif %}">{% trans 'Kontakt' %}</a></li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>VPS udostępnia nam <a href="http://www.adminotaur.pl">Adminotaur</a></p>
        <p>Copyright &copy; 2014-2015 by PLPUG</p>
    </footer>
{% endblock %}
