{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h2>Kontakt</h2>
            <br>
            <p><strong>Zarząd PLPUG</strong></p>
            <br>
            <p><strong>Agata Bublewicz - Prezes</strong> (tel: 721 946 088)</p>
            <p><strong>Marek Skaliński - Wiceprezes (tel: 501 935 979)</strong></p>
            <p><strong>Marek Piechula - Skarbnik</strong></p>
            <p><strong>Wojciech Zając - Sekretarz</strong> (tel: 570 491 977)</p>
            <br>
            <p>Mail do Zarządu: <a href="mailto:stowarzyszenie@plpug.org" title="Kontakt ze Stowarzyszeniem PLPUG">stowarzyszenie@plpug.org</a></p>
            <br>
            <br>
            <p><strong>Komisja Rewizyjna</strong></p>
            <br>
            <p><strong>Piotr Maliński - Wiceprzewodniczący</strong></p>
            <p><strong>Rafał Korzeniewski - Sekretarz</strong></p>
            <br>
            <p>Mail do Komisji Rewizyjnej: <a href="mailto:komisjarewizyjna@plpug.org" title="Kontakt z Komisją Rewizyjną PLPUG">komisjarewizyjna@plpug.org</a></p>
        </div>
        <div class="segment">
            <h3>Adres korespondencyjny:</h3>
            <p>Stowarzyszenie Polska Grupa Użytkowników Pythona</p>
            <p>ul. Madalińskiego 106</p>
            <p>02-506 Warsaw, Polska</p>
            <br>
            <p>Publiczna lista mailingowa: <a href="mailto:plpug@python.org" title="Publiczna lista mailingowa">plpug@python.org</a></p>
            <p>Media społecznoścowe: <a href="https://www.facebook.com/stowarzyszenie.plpug" title="PLPUG na Facebook">Facebook</a>,
                <a href="http://twitter.com/plpug/" title="PLPUG na Twitterze">Twitter</a>,
                <a href="https://plus.google.com/communities/103533082871614760624" title="PLPUG na Google+">Google+</a></p>
            <p>IRC: <a href="irc://irc.eu.freenode.net/python.pl" title="Kanał IRC Stowarzyszenia PLPUG">#plpug</a> (FreeNode)</p>
            <p><a href="https://github.com/plpug" target="_blank">GitHub</a></p>
        </div>
        <div class="segment">
            <h2>Dane organizacji</h2>
                <p>KRS: 0000534348</p>
                <p>NIP: 5213684574</p>
                <p>REGON: 36041007000000</p>
            <br>
        </div>
	</section>
{% endblock %}
