{% extends 'base.html' %}{% load i18n %}
{% load static %}

{% block content %}

    <div class="segment">
        9 września 2017 - Gdańsk
        <hr />
        <strong>Walne zebranie członków PLPUG</strong><br /><br />
        Miejsce: GDAŃSK, HACKERSPACE Trójmiasto, Aleja Grunwaldzka 4/3, (103 na domofonie)<br />
        Godziny: 14-16<br />
        Informacje: <a href="https://www.meetup.com/plpug-python/events/242405833/" target="_blank">Meetup</a>
        <p class="text-justify"></p>
    </div>
    <div class="segment">
        <strong>sierpień 2017 Lublin - PyLbn</strong>
        <hr />
        Rozpoczęliśmy współtworzenie zupełnie nowej grupy pasjonatów języka Python w Lublinie  - <strong>PyLbn</strong><br/><br/>
        Informacje: <a href="https://www.facebook.com/events/112759029400933/" target="_blank">PyLbn</a>
    </div>

    <div class="segment">
        8 kwietnia 2017 r.
        <hr />
            <p>Walne Zebranie Członków PLPUG</p>
            <p>W godzinach od 18:30 do 21:00</p>
            <p>Miejsce zebrania:<br />
                <a href="https://web.facebook.com/hacklag.warsaw">HACKLAG (Explorer HQ,[Warszawa])</a> <br />
                ul. Al. Jerozolimskie 81, piętro 20,<br />
                Warszawa (wieżowiec COMARCH).<br />
            </p>
            <p><a href="{% static 'docs/PLPUG-Protokol-walnego-zebrania-2017_04_08-1845.odt' %}" target="_blank">Sprawozdanie z zebrania</a></p>
    </div>
    <div class="segment">
        30 marca 2017 r.
        <hr />
        <p style="font-weight: bold">Konkurs rozstrzygnięty</p>
        <p class="text-justify">Do wygrania była wejściówka na <a href="http://2017.4developers.org.pl" target="_blank" style="font-weight: bold">4Developers</a> 2017
            - interdyscyplinarny Festiwal Technologiczny dla programistów</p>
        <p class="text-center">
            <a href="http://2017.4developers.org.pl" target="_blank"><img src="{% static 'img/4Developers_baner.jpg' %}"/></a>
        </p>
        <p style="font-weight: bold">Zadania konkursowe:</p>
        <ol>
            <li>Wyjaśnij pojęcie "bazy danych" w czterech zdaniach, aby zrozumiała to 90 letnia babcia.</li>
            <li>Napisz ciekawe zadanie dla dzieci z wykorzystaniem płytek <a href="https://github.com/plpug/Microbit">Micro:bit</a></li>
        </ol>
        <p>Konkurs rozstrzygnięty. Gratulujemy zwycięzcy!</p>
    </div>
    <div class="segment">
        19 listopada 2016 r.
        <hr />
        Warszawa, ul Śniadeckich 17 walne zebranie członków PLPUG.
        <a href="{% static 'docs/Walne_Zebranie_2016_11_19.pdf' %}" target="_blank">Informacja z zebrania</a><br />
    </div>
    <div class="segment">
        16 sierpnia 2016 r.
        <hr />
        Katowice "Hackerspace Silesia" walne zebranie członków PLPUG.<br />
        <a href="{% static 'docs/UchwalaZarzadu_2016_08_2.pdf' %}" target="_blank">Uchwała Zarządu PLPUG 16.08.2016 2</a><br />
    </div>
    <div class="segment">
        8 sierpnia 2016 r.
        <hr />
        Warszawa klubokawiarnia Crux Boulder, spotkanie i prezentacje PyWaw, a po spotkaniu walne
        zebranie członków PLPUG.<br />
        <a href="{% static 'docs/PLPUG-Protokol-walnego-zebrania-2016_08_08.pdf' %}" target="_blank">Protokół z zebrania</a><br />
        <a href="{% static 'docs/UchwalaWalnego_2016_08_1.pdf' %}" target="_blank">Uchwała Walnego Zebrania Członków 08.08.2016 1</a><br />
        <a href="{% static 'docs/UchwalaWalnego_2016_08_2.pdf' %}" target="_blank">Uchwała Walnego Zebrania Członków 08.08.2016 2</a><br />
        <a href="{% static 'docs/UchwalaZarzadu_2016_08_1.pdf' %}" target="_blank">Uchwała Zarządu PLPUG 08.08.2016 1</a><br />

    </div>
    <div class="segment">
        26 kwietnia 2015 r.
        <hr />
        Katowice "Hackerspace Silesia" walne zebranie członków PLPUG.<br />
        <a href="{% static 'docs/PLPUG-Protokol-Walnego-Zebrania-Czlonkow-z-dnia-26.04.2015.pdf' %}" target="_blank">Protokół z zebrania</a><br />
        <a href="{% static 'docs/PLPUG-Uchwala-o-skladkach-czlonkowskich.pdf' %}" target="_blank">Uchwała o składkach członkowskich</a><br />
    </div>
    <div class="segment">
        10 grudnia 2014 r.
        <hr />
        Zarejestrowanie Stowarzyszenia w Krajowym Rejestrze Sądowym. REGON: 360410070, NIP: 5213684574
    </div>
    <div class="segment">
        17 października 2014 r.
        <hr />
        Spotkanie PLPUG na konferencji PyCon PL w Szczyrku.
    </div>
    <div class="segment">
        10 maja 2014 r.
        <hr />
        W Warszawie odbyło się spotkanie założycielskie. Celem spotakania było poprawienie
        statutu i ponowne złożenie celem rejestracji Stowarzyszenia.
    </div>
    <div class="segment">
        16 listopada 2013 r.
        <hr />
        W Warszawie odbyło się spotkanie założycielskie, którego celem było zarejestrowanie
        stowarzyszenia <a href="{% static 'docs/PLPUG-PyWaw-prezentacja.pdf' %}" target="_blank">
        Prezentacja inicjatywy PLPUG - PyWaw, PyRa</a>.
    </div>
    <div class="segment">
        18 października 2013 r.
        <hr />
        W Szczyrku na konferencji PyCon PL odbyło się spotkanie osób zainteresowanych utworzeniem
        <a href="{% static 'docs/PLPUG-prezentacja.pdf' %}" target="_blank">Stowarzyszenia PLPUG</a>.
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fQdAfJ45nAc?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
