{% extends 'base.html' %}{% load i18n %}
{% load static %}

{% block content %}

    <div class="well active">
        19 sierpnia 2016 r.
        <hr />
        Warszawa, ul Śniadeckich 17 walne zebiranie członków PLPUG.
    </div>
    <div class="well">
        16 sierpnia 2016 r.
        <hr />
        Katowice "Hackerspace Silesia" walne zebranie członków PLPUG.
    </div>
    <div class="well">
        8 sierpnia 2016 r.
        <hr />
        Warszawa klubokawiarnia Crux Boulder, spotkanie i prezentacje PyWaw, a po spotkaniu walne
        zebranie członków PLPUG.
    </div>
    <div class="well">
        26 kwietnia 2015 r.
        <hr />
        Katowice "Hackerspace Silesia" walne zebranie członków PLPUG.
    </div>
    <div class="well">
        10 grudnia 2014 r.
        <hr />
        Zarejestrowanie Stowarzyszenia w Krajowym Rejestrze Sądowym. REGON: 360410070, NIP: 5213684574
    </div>
    <div class="well">
        17 października 2014 r.
        <hr />
        Spotkanie PLPUG na konferencji PyCon PL w Szczyrku.
    </div>
    <div class="well">
        10 maja 2014 r.
        <hr />
        W Warszawie odbyło się spotkanie założycielskie. Celem spotakania było poprawienie
        statutu i ponowne złożenie celem rejestracji Stowarzyszenia.
    </div>
    <div class="well">
        16 listopada 2013 r.
        <hr />
        W Warszawie odbyło się spotkanie założycielskie, którego celem było zarejestrowanie
        stowarzyszenia <a href="{% static 'docs/PLPUG-PyWaw-prezentacja.pdf' %}" target="_blank">
        Prezentacja inicjatywy PLPUG - PyWaw, PyRa</a>.
    </div>
    <div class="well">
        18 października 2013 r.
        <hr />
        W Szczyrku na konferencji PyCon PL odbyło się spotkanie osób zainteresowanych utworzeniem
        <a href="{% static 'docs/PLPUG-prezentacja.pdf' %}" target="_blank">Stowarzyszenia PLPUG</a>.
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fQdAfJ45nAc?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
