{% extends 'base.html' %}{% load i18n %}

{% block content %}

    <section id="contener">
        <div class="well">
            <h3>Walne Zebranie Członków PLPUG</h3>
            <p>Sobota 19 listopad 2016 r.<br />
                W godzinach od 15:00 do 17:00</p>
            <p>Miejsce zebrania:<br />
            Warszawa, ul. Śniadeckich 17<br />
            Firma: <a href="http://sniadeckich17.pl/" target="_blank">Śniadeckich 17</a>, sala 2</p>
            <ul>
                <li>15:00 - pierwszy termin (wymagane kworum)</li>
                <li>15:15 - drugi termin (kworum nie wymagane)</li>
            </ul>
            <p>Porządek obrad:</p>
            <ol>
                <li>Sprawozdanie z działania Zarządu, w tym finansowe,</li>
                <li>Sprawozdanie z działania Komisji Rewizyjnej,</li>
                <li>Wybory do władz Stowarzyszenia,</li>
                <li>Uchwalenie budżetu na rok 2017,</li>
                <li>Wolne wnioski.</li>
            </ol>
            <p>Zapraszamy wszystkich członków Stowarzyszenia i zainteresowanych.</p>
        </div>

    </section>
    <section>
        <div class="well">
            <h3>Cele Stowarzyszenia:</h3>
            <ul>
                <li>Budowa i integracja polskiej społeczności wykorzystującej język programowania Python,</li>
                <li>Rozwój, popularyzacja i promocja Pythona, jak również związanego z nim oprogramowania na polskiej oraz międzynarodowej arenie informatycznej,</li>
                <li>Reprezentowanie członków Stowarzyszenia, ich opinii i potrzeb,</li>
                <li>Współpraca i wspieranie lokalnych oraz międzynarodowych grup użytkowników Pythona, a także innych społeczności wykorzystujących ten język programowania,</li>
                <li>Wspieranie projektów związanych z Pythonem,</li>
                <li>Wspieranie rozwoju rynku pracy dla programistów Pythona,</li>
                <li>Działalność na rzecz oświaty, szkolnictwa i edukacji.</li>
            </ul>
        </div>
        <div class="well">
            <h3>Sposoby realizacji celów:</h3>
            <ul>
                <li>Organizowanie konferencji PyCon PL, promującej Pythona na terenie Rzeczypospolitej Polskiej,</li>
                <li>Organizowanie innych konferencji, warsztatów, konkursów, imprez okolicznościowych oraz akcji służących realizacji celów statutowych Stowarzyszenia,</li>
                <li>Wspieranie lokalnych grup użytkowników, kół naukowych i innych tego typu środowisk wykorzystujących Pythona,</li>
                <li>Współpraca z Fundacją Python Software Foundation, zarejestrowaną w Stanach Zjednoczonych, w zakresie realizacji celów statutowych Stowarzyszenia,</li>
                <li>Tworzenie wolnego i otwartego oprogramowania,</li>
                <li>Utrzymywanie infrastruktury stymulującej rozwój Stowarzyszenia,</li>
                <li>Prowadzenie portalu informacyjnego m.in. w zakresie:
                    <ul>
                        <li>działalności społeczności Pythona,</li>
                        <li>aktualizacji Pythona, jak również związanego z nim oprogramowania,</li>
                        <li>patronatu medialnego konferencji, warsztatów, szkoleń i innych inicjatyw,</li>
                        <li>publikacji artykułów i poradników użytkownika, a także recenzji książek poświęconych tematyce Pythona.</li>
                    </ul>
                </li>
                <li>Zarządzanie:
                    <ul>
                        <li>projektem "Forum polskich programistów Pythona",</li>
                        <li>projektem "Planeta polskich programistów Pythona",</li>
                        <li>kanałami IRC "#python.pl" i "#django-pl" mieszczącymi się w sieci FreeNode, umożliwiającymi wymianę informacji pomiędzy członkami społeczności Pythona,</li>
                        <li>serwisem ogłoszeniowym z ofertami pracy dla programistów Pythona.</li>
                    </ul>
                </li>
                <li>Tworzenie projektów i programów edukacyjnych związanych z Pythonem dla wykorzystania w szkolnictwie,</li>
                <li>Organizowanie szkoleń i wykładów z programowania w Pythonie, przygotowywanie materiałów edukacyjnych, broszur oraz opracowań dydaktycznych, a także programów promocyjnych służących realizacji celów statutowych.</li>
            </ul>
        </div>
        <div>
            Wyciągnięte ze <a href="https://github.com/plpug/plpug-statut/blob/master/PLPUG-Statut.rst" target="_blank">statutu</a>.
        </div>
    </section>

{% endblock %}
