{% extends 'base.html' %}{% load i18n %}

{% block content %}

    <section id="contener">
        <div class="well">
            <h3>Walne Zebranie Członków PLPUG</h3>
            <p>Sobota 19 listopad 2016 r.<br />
                W godzinach od 15:00 do 17:00</p>
            <p>Miejsce zebrania:<br />
            Warszawa, ul. Śniadeckich 17<br />
            Firma: <a href="http://sniadeckich17.pl/" target="_blank">Śniadeckich 17</a>, sala 2</p>
            <ul>
                <li>15:00 - pierwszy termin (wymagane kworum)</li>
                <li>15:15 - drugi termin (kworum nie wymagane)</li>
            </ul>
            <p>Porządek obrad:</p>
            <ol>
                <li>Wybory do władz Stowarzyszenia,</li>
                <li>Wolne wnioski.</li>
            </ol>
            <p>Zapraszamy wszystkich członków Stowarzyszenia i zainteresowanych.</p>
            <p><em>Porządek obrad może zmienić się, ostateczny termin na wprowadzanie zmian
                w porządku obrad to 5 listopada.</em>
            </p>
        </div>

    </section>

{% endblock %}
