{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <section>
        <div class="segment">
            <p style="font-weight: bold;">Walne Zebranie Członków Stowarzyszenia Polskiej Grupy Użytkowników Pythona</p>
            <hr />
            <p style="font-weight: bold;">18 listopada 2017 r.</p>
            <p>
                Dnia 18 listopada 2017 r. odbyło się Walne Zebranie Członków Stowarzyszenia Polskiej Grupy Użytkowników Pythona.<br/>
                Protokół oraz uchwały z zebrania dostępne <a href="{% url 'history' %}">tutaj</a>
            </p>
        </div>
    </section>
    <section>
        <div class="segment">
            <h3>Projekt Micro:bit</h3>
            <p>
                Trwają warsztaty programowania w języku Python dla dzieci z wykorzystaniem płytek Microbit.
            </p>
            <p>
                Jednocześnie trwają szkolenie w celu przygotowania do uczenia dzieci z wykorzystaniem płytek Microbit.
            </p>
            <p>
                <a href="{% url 'microbit' %}">Więcej informacji</a> &nbsp;&nbsp; <a href="{% url 'microbit' %}"><img src="{% static 'img/Microbit.png' %}" width="50px" alt="Microbit" /></a>
            </p>
        </div>
    </section>
    <section>
        <div class="segment">
            <h3>Społeczność:</h3>
            <div class="row"> &nbsp; </div>
            <div class="row">
                <div class="col-xs-2"><a href="https://github.com/plpug" target="_blank">GitHub</a></div>
                <div class="col-xs-2"><a href="https://www.facebook.com/stowarzyszenie.plpug" title="PLPUG na Facebook">Facebook</a></div>
                <div class="col-xs-2"><a href="http://twitter.com/plpug/" title="PLPUG na Twitterze">Twitter</a></div>
                <div class="col-xs-2"><a href="https://plus.google.com/communities/103533082871614760624" title="PLPUG na Google+">Google+</a></div>
                <div class="col-xs-2">IRC: <a href="irc://irc.eu.freenode.net/python.pl" title="Kanał IRC Stowarzyszenia PLPUG">#plpug</a> (FreeNode)</div>
            </div>
            <div class="row"> &nbsp; </div>
            <div class="row">
                <div class="col-xs-2"><a href="https://www.meetup.com/plpug-python/">Meetup</a></div>
                <div class="col-xs-3"><a href="https://mail.python.org/mailman/listinfo/plpug">Mailman</a> - <a href="mailto:plpug@python.org" title="Publiczna lista mailingowa">plpug@python.org</a><br>Publiczna lista mailingowa</div>
            </div>
        </div>
        <div class="segment">
            <h3>Cele Stowarzyszenia:</h3>
            <ul>
                <li>Budowa i integracja polskiej społeczności wykorzystującej język programowania Python,</li>
                <li>Rozwój, popularyzacja i promocja Pythona, jak również związanego z nim oprogramowania na polskiej oraz międzynarodowej arenie informatycznej,</li>
                <li>Reprezentowanie członków Stowarzyszenia, ich opinii i potrzeb,</li>
                <li>Współpraca i wspieranie lokalnych oraz międzynarodowych grup użytkowników Pythona, a także innych społeczności wykorzystujących ten język programowania,</li>
                <li>Wspieranie projektów związanych z Pythonem,</li>
                <li>Wspieranie rozwoju rynku pracy dla programistów Pythona,</li>
                <li>Działalność na rzecz oświaty, szkolnictwa i edukacji.</li>
            </ul>
        </div>
        <div class="segment">
            <h3>Sposoby realizacji celów:</h3>
            <ul>
                <li>Organizowanie konferencji PyCon PL, promującej Pythona na terenie Rzeczypospolitej Polskiej,</li>
                <li>Organizowanie innych konferencji, warsztatów, konkursów, imprez okolicznościowych oraz akcji służących realizacji celów statutowych Stowarzyszenia,</li>
                <li>Wspieranie lokalnych grup użytkowników, kół naukowych i innych tego typu środowisk wykorzystujących Pythona,</li>
                <li>Współpraca z Fundacją Python Software Foundation, zarejestrowaną w Stanach Zjednoczonych, w zakresie realizacji celów statutowych Stowarzyszenia,</li>
                <li>Tworzenie wolnego i otwartego oprogramowania,</li>
                <li>Utrzymywanie infrastruktury stymulującej rozwój Stowarzyszenia,</li>
                <li>Prowadzenie portalu informacyjnego m.in. w zakresie:
                    <ul>
                        <li>działalności społeczności Pythona,</li>
                        <li>aktualizacji Pythona, jak również związanego z nim oprogramowania,</li>
                        <li>patronatu medialnego konferencji, warsztatów, szkoleń i innych inicjatyw,</li>
                        <li>publikacji artykułów i poradników użytkownika, a także recenzji książek poświęconych tematyce Pythona.</li>
                    </ul>
                </li>
                <li>Zarządzanie:
                    <ul>
                        <li>projektem "Forum polskich programistów Pythona",</li>
                        <li>projektem "Planeta polskich programistów Pythona",</li>
                        <li>kanałami IRC "#python.pl" i "#django-pl" mieszczącymi się w sieci FreeNode, umożliwiającymi wymianę informacji pomiędzy członkami społeczności Pythona,</li>
                        <li>serwisem ogłoszeniowym z ofertami pracy dla programistów Pythona.</li>
                    </ul>
                </li>
                <li>Tworzenie projektów i programów edukacyjnych związanych z Pythonem dla wykorzystania w szkolnictwie,</li>
                <li>Organizowanie szkoleń i wykładów z programowania w Pythonie, przygotowywanie materiałów edukacyjnych, broszur oraz opracowań dydaktycznych, a także programów promocyjnych służących realizacji celów statutowych.</li>
            </ul>
        <div>
            Wyciągnięte ze <a href="https://github.com/plpug/plpug-statut/blob/master/PLPUG-Statut.rst" target="_blank">statutu</a>.
        </div>
        </div>
    </section>

{% endblock %}
