{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <h3>Jesteśmy na:</h3>
        <div class="segment">
            22 listopada 2016
            <hr/>
            <a href="http://kodujdlapolski.pl/" target="_blank">Koduj dla Polski</a> - Warszawa
        </div>
        <h3>Organizujemy warsztaty:</h3>
        <div class="segment">
            Warsztaty "Poznaj podstawy Pythona" współorganizowane razem z Women in Technology.
        </div>
        <div class="segment">
            Wkrótce warsztaty z wykorzystaniem Micro:bit.
        </div>
        <h3>Organizowaliśmy:</h3>
        <div class="segment">
            <ul>
                <li>
        30 września - 2 października 2016 r.
        <hr />
                    <h4>Współpraca patronacka</h4>
        W Koszalinie zorganizowane zostały warsztaty PyCode Carrots Koszalin #2, organizowane
        w ramach Geek Girls Carrots. Była to już druga edycja warsztatów poświęconych językowi
        Python, w trakcie których 30 uczestników i uczestniczek rozpoczęło naukę Pythona pod okiem
        10 mentorów. Warsztaty zorganizowane zostały dzięki gościnności Politechniki Koszalińskiej.
                </li>
            </ul>
        </div>
        <h3>Byliśmy na:</h3>
        <div class="segment">
            <ul>
                <li>14 listopada 2016 - <a href="http://pywaw.org/63/" target="_blank">#63 PyWaw</a> - Warszawa</li>
            </ul>
        </div>
    </section>
{% endblock %}

