{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <section id="contener">
        <h3>Nadchodzące wydarzenia:</h3>
        <div class="segment">
            3 czerwiec 2017 - Gdańsk
            <hr />
            Warsztaty "Poznaj podstawy Pythona" współorganizowane razem z Women in Technology w Gdańsku.
            <a href="https://maps.google.com/maps?f=q&hl=en&q=Al.+Grunwaldzka+472B+%2C+Gda%C5%84sk%2C+pl" target="_blank">Olivia Business Centre - O4</a> Zapisy:
            <a href="https://www.meetup.com/plpug-python/events/239994676/" target="_blank">Meetup</a>
        </div>
        <h3>Odbyły się:</h3>
        <div class="segment">
            31 maja 2017 - Warszawa
            <hr />
            Python dla zaawansowanych - 18:30,
            <a href="https://web.facebook.com/hacklag.warsaw">HACKLAG (Explorer HQ,[Warszawa])</a>
            Al. Jerozolimskie 81, piętro 20 -
            <a href="https://www.meetup.com/plpug-python/events/240373168/" target="_blank">Meetup</a>
        </div>
        <div class="segment">
            25 maja 2017 - Warszawa <br/>
            23 maja 2017 - Wrocław
            <hr />
            <p class="text-center">
                <a href="https://www.codeeurope.pl/" target="_blank"><img src="{% static 'img/CodeEurope_5.jpg' %}" alt="Code Europe" /></a>
            </p>
            <p style="padding-top:20px;">
                <span style="font-weight: bold">Code Europe</span> to największa konferencja programistyczna w Polsce.
            </p>
        </div>
        <div class="segment">
            20 maja 2017
            <hr />
            Warsztaty współorganizowane z Coder Dojo dla dorosłych przygotowujące do szkolenia dzieci z wykorzystaniem płytek Micro:bit w Gdańsku.
        </div>
        <div class="segment">
            15 maja 2017 - Warszawa
            <hr />
            Warsztaty dla dorosłych przygotowujące do szkolenia dzieci z wykorzystaniem płytek Micro:bit w Warszawie.
            Informacja na <a href="https://www.meetup.com/plpug-python/events/239332555/">Meetup</a>
        </div>
        <div class="segment">
            10 maja 2017 - Warszawa
            <hr />
            Warsztaty dla dorosłych przygotowujące do szkolenia dzieci z wykorzystaniem płytek Micro:bit w Warszawie.
            Informacja na <a href="https://www.meetup.com/plpug-python/events/239332555/">Meetup</a> zapisy przez <a href="https://microbit.evenea.pl/" target="_blank">Evenea</a>
        </div>
        <div class="segment">
            26 kwietnia 2017 - Kraków
            <hr />
            <p class="text-center"><a href="https://www.codeeurope.pl/" target="_blank"><img src="{% static 'img/CodeEurope_blue.png' %}" width="300px" alt="Code Europe" /></a></p>
            <p style="padding-top:20px;">
                    <span style="font-weight: bold">Code Europe</span> to największa konferencja programistyczna w Polsce.
            </p>
        </div>
        <div class="segment">
            7 kwietnia 2017
            <hr />
            Warsztaty z wykorzystaniem Micro:bit dla dzieci w Koszalinie
        </div>
        <div class="segment">
            3 kwiecień 2017 - Warszawa
            <hr />
            <p style="font-weight: bold">4Developers</p>
            <p>Zapraszamy na najbardziej interdyscyplinarne wydarzenie w polskim kalendarzu IT! Pojawimy się na Festiwalu 4Developers w roli Community Partnera.</p>
            <p>4Developers to Festiwal Technologiczny, który oferuje wykłady i warsztaty w ramach kilkunastu ścieżek tematycznych. Głównym celem wydarzenia jest tworzenie miejsca spotkań polskiej społeczności IT, sprzyjającego wymianie umiejętności i doświadczeń.</p>
            <p class="text-center">
                <a href="http://2017.4developers.org.pl" target="_blank"><img src="{% static 'img/4Developers_baner.jpg' %}"/></a>
            </p>
        </div>
        <div class="segment">
            25 marzec 2017
            <hr />
            Warsztaty z wykorzystaniem Micro:bit dla dzieci w Koszalinie
        </div>
        <div class="segment">
            16 marzec 2017 - Koszalin
            <hr />
            <p>Targi Pracy</p>
            <p>Zapraszamy na targi pracy, gdzie będziemy promowali platformę Micro:Bit oraz PLPUG.</p>
            <p class="text-center">
                <img src="{% static 'img/targi_pracy_koszalin_2017.png'%}" width="700px"/>
            </p>
        </div>
        <div class="segment">
            9 marca 2017 - Koszalin
            <hr />
            <p>Dni otwarte Politechniki Koszalińskiej</p>
            <p>W dniu 9 marca podczas dni otwartych Politechniki Koszalińskiej organizowaliśmy warsztaty pokazowe płytek Micro:bit z elementami programowania w Pythonie dla młodzieży z Zespołu Szkół nr. 9 imienia Remunalda Traugutta, kierunki: Informatyka oraz Elektronika.</p>
        </div>

        <div class="segment">
            25 luty i 4 marca 2017
            <hr />
            <h4>Warsztaty z wykorzystaniem Micro:bit</h4>
        Wraz z Wydziałem Elektroniki i Informatyki Politechniki Koszalińskiej oraz grupą PyKosz
        zorganizowaliśmy warsztaty dla dzieci z wykorzystaniem urządzeń Micro:bit. Odbyły się one
        w ramach Koszalińskiego Uniwersytetu Dzieci i Młodzieży. Nasi studenci/studentki uczyli się
        od mentorów, którzy zostali przeszkoleni w ramach cyklu szkoleń współorganizowanych przez
        Stowarzyszenie Polska Grupa Użytkowników Pythona oraz grupe PyKosz.

            <br/>
            <a href="https://web.facebook.com/stowarzyszenie.plpug/posts/1434060623311179">Informacje na fb</a>
        </div>
        <div class="segment">
            30 września - 2 października 2016 r.
            <hr />
            <h4>Współpraca patronacka</h4>
        W Koszalinie zorganizowane zostały warsztaty PyCode Carrots Koszalin #2, organizowane
        w ramach Geek Girls Carrots. Była to już druga edycja warsztatów poświęconych językowi
        Python, w trakcie których 30 uczestników i uczestniczek rozpoczęło naukę Pythona pod okiem
        10 mentorów. Warsztaty zorganizowane zostały dzięki gościnności Politechniki Koszalińskiej.
        </div>
        <h3>Byliśmy na:</h3>
        <div class="segment">
            22 listopada 2016
            <hr/>
            <a href="http://kodujdlapolski.pl/" target="_blank">Koduj dla Polski</a> - Warszawa
        </div>
        <div class="segment">
            <ul>
                <li>14 listopada 2016 - <a href="http://pywaw.org/63/" target="_blank">#63 PyWaw</a> - Warszawa</li>
            </ul>
        </div>
    </section>
{% endblock %}

