{% extends 'base.html' %}{% load i18n %}
{% load static %}

{% block content %}
    <section>
        <div class="segment">
            <h2>1. Zapoznaj się ze statutem, wypełnij i wyślij deklarację członkowską</h2>
            <p><a href="https://github.com/plpug/plpug-statut/blob/master/PLPUG-Statut.rst" target="_blank">Statut</a></p>
            <p>Deklaracja członkowska PLPUG - <a href="{% static 'docs/Deklaracja_Czlonkowska_PLPUG.pdf'%}" target="_blank" title="Deklaracja członkowska PLPUG">pobierz PDF</a> ,
            <a href="{% static 'docs/Deklaracja_Czlonkowska_PLPUG.odt'%}" target="_blank" title="Deklaracja członkowska PLPUG">pobierz ODT</a></p>
            <p>Uzupełniony dokument należy przesłać pocztą tradycyjną na adres Stowarzyszenia lub
                mailem na adres: <a href="mailto:stowarzyszenie@plpug.org">stowarzyszenie@plpug.org</a></p>
            <h2>2. Opłać składkę członkowską:</h2>
            <p>Bank BZWBK</p>
            <p>02 1090 2590 0000 0001 2993 4371</p>
            <p>Stowarzyszenie Polska Grupa Użytkowników Pythona</p>
            <p>ul. Madalińskiego 106</p>
            <p>02-506 Warszawa, Polska</p>
            <h3>Składka członkowska</h3>
            <p>
                Roczna składka członkowska wynosi:
            </p>
            <ul>
                <li>
                    12 PLN dla uczniów i studentów do 26 roku życia,
                </li>
                <li>
                    24 PLN pozostali.
                </li>
            </ul>
            <p>Wpłaty na konto prosimy dokonywać z odpowiednim tytułem:</p>
            <p><em>Imię i nazwisko - składka za 2017</em></p>
            <p>
                Uchwała o zmianie stawki opłaty członkowskiej <a href="{% static 'docs/UchwalaWalnego_2017_11_nr_6.docx' %}">tutaj</a>
            </p>
        </div>
    </section>
{% endblock %}
