{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Projekt Micro:bit</h3>
            <p>
            W grudniu 2016 na prośbę Agaty Micro:bit Educational Fundation przyznał grant i  podarował Stowarzyszeniu 30 płytek Micro:bit. Celem grantu jest wykorzystywanie płytek Micro:bit
                do nauki dzieci programowania w języku Python.
            </p>
            <p class="text-center">
                <img src="{% static 'img/Microbit.png' %}" width="200px" />
            </p>
            <hr />
            W Koszalinie 25 lutego i 4 marca odbyły się warsztaty dla dzieci z wykorzystaniem urządzeń Micro:bit. Uczestniczyło w nim 52 dzieci pod opieką mentorów.
            Dzieci zaczęły od krótkiego wprowadzenia do Pythona i przeszły do programowania płytek Micro:bit. Pierwszym zadaniem było napisanie “Hello world”, potem wyświetlanie elementów graficznych.
            Następnie kursanci przygotowali animację własnego projektu. Za pomocą Micro:bit generowały proste dźwięki.
            <hr />
            Zajęcia odbywają się cyklicznie. Następne odbyły się 25 marca.
            Głównym organizatorem warsztatów jest Agata Bublewicz przy współpracy z wydziałem Elektroniki i Informatyki Politechniki Koszalińskiej. <a href="{% url 'meetings' %}">Więcej ...</a>
            <hr />
            Na potrzeby projekty przygotowywany jest program zajęć. Źródła na <a href="https://github.com/plpug/Microbit">GitHub</a>
        </div>
	</section>
{% endblock %}
