{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Projekt Micro:bit</h3>
            <p class="text-center">
                <img src="{% static 'img/Microbit.png' %}" width="200px" />
            </p>
            <p>
                Microbit to niewielka płytka wyposarzona w elementy, które nawet dzieci mogą oprogramować.
                Na płytce jest matryca 25 diod 5 x 5, dwa przyciski, akcelerometr, który wykrywa ruch, kompas.
                Do płytki można podłączyć dodatkowe urządzenia, takie jak głośniczek lub cały zestaw eletroniczny.
                Dzięki temu można przygotować sterowanie dolonym robotem.
            </p>
            <h4 class="faq-question">
                W jakim wieku dziecko może zacząć programować?
            </h4>
            <p>
                Wiek dziecka, które może już zacząć programować, to około 8 lat. Potrzebna jest przy tym dobra umiejętność
                czytania i pisania. Dziecko uczy się programowanie poprzez zapamiętanie nazw gotowych funkcji oraz zrozumienie
                działania kodu.
            </p>
            <h4 class="faq-question">
                Jak zacząć?
            </h4>
            <p>
                Potrzebujesz komputer, z możliwością podłączenia USB i dostępem do internetu? Edytor znajdziesz na stronie
                http://python.microbit.org/v/1 Język dla tego edytora, to micropython. Gotowy program pobierasz klikając
                "Download" i zapisusjesz na dysku lub bezpośrednio na urządzeniu Microbit widocznym jako pamięć USB.
            </p>
            <h4 class="faq-question">
                Jakie są dostępne edytory?
            </h4>
            <p>
                Edytor dla języka micropython - <a href="http://python.microbit.org/v/1" target="_blank">python.microbit.org</a><br/>
                Edytor blokowy oraz JavaScript - <a href="https://makecode.microbit.org/" target="_blank">makecode.microbit.org</a><br/>
                Edytor offline dla języka micropython - <a href="https://codewith.mu/" target="_blank">codewith.mu</a><br/>
            </p>
            <h4 class="faq-question">
                Gdzie można kupić urządzenie?
            </h4>
            <p>
                Na oficjalnej stronie Micro:bit są odnośniki do dystrybutorów, w tym również w Polsce: <a href="http://microbit.org/resellers/" target="_blank">microbit.org/resellers</a>
            </p>
            <h4 class="faq-question">
                Gdzie można znaleźć przykładowe zadania?
            </h4>
            <p>
                Przygotowywane przykładowe zadania - <a href="https://github.com/plpug/Microbit">github.com/plpug/Microbit</a>
            </p>
            <h4 class="faq-question">
                Gdzie znajduje się dokumentacja?
            </h4>
            <p>
                Oficjalna dokumentacja jest na stronie: <a href="https://microbit-micropython.readthedocs.io/pl/latest/" target="_blank">microbit-micropython.readthedocs.org</a>.
            </p>
            <h4 class="faq-question">
                Jakie są parametry techniczne urządzenia Microbit?
            </h4>
            <p>
                Procesor NRF51 z zegarem 16MHz; pamięć ram 16KB; pamięć flash 128KB.
            </p>

            <hr />
        </div>
	</section>
{% endblock %}
