{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Partnerzy</h3>
            <ul>
                <li><a href="http://kodujdlapolski.pl/" target="_blank">Koduj dla Polski</a></li>
            </ul>
        </div>
        <div class="segment">
            <h3>Sponsorzy</h3>
            <ul>
                <li>VPS - <a href="http://www.adminotaur.pl">Adminotaur</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
