{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Partnerzy</h3>
                <div class="row center-block" style="margin-bottom: 50px">
                    <div class="col-xs-4 text-center">
                        <a href="http://kodujdlapolski.pl/" title="Koduj dla Polski" target="_blank"><img src="{% static 'img/logotypKodujDlaPolski.png' %}" /></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="http://womenintechnology.pl/" title="Women In Technology" target="_blank"><img src="{% static 'img/WomenInTechnology_Logo.png' %}" /></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="http://www.tu.koszalin.pl/" title="Politechnika Koszalińska" target="_blank"><img src="{% static 'img/Politechnika_Koszalinska.png' %}" /></a>
                    </div>
                </div>
                <div class="row center-block" style="margin-bottom: 20px">
                    <div class="col-xs-4 text-center">
                        <a href="http://2017.4developers.org.pl/pl/" title="4Developers" target="_blank"><img src="{% static 'img/logotyp_4developers_4.png' %}" /></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="https://www.facebook.com/hacklag.warsaw/" title="HACKLAG (Explorer HQ,[Warszawa])" target="_blank"><img src="{% static 'img/HackLag_logo_partner.png' %}" /></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="https://web.facebook.com/explorerhq/" title="HACKLAG (Explorer HQ,[Warszawa])" target="_blank"><img src="{% static 'img/explorer_hq_logo_partner.png' %}" /></a>
                    </div>
                </div>
        </div>
        <div class="segment">
            <h3>Sponsorzy</h3>
            <ul>
                <li>VPS - <a href="http://www.adminotaur.pl">Adminotaur</a></li>
                <li>30 kostek Micro:bit - <a href="http://microbit.org/">Micro:bit Educational Foundation</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
