{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Partnerzy</h3>
            <ul>
                <li><a href="http://kodujdlapolski.pl/" target="_blank">Koduj dla Polski</a></li>
                <li><a href="http://womenintechnology.pl/" target="_blank">Women In Technology</a></li>
                <li><a href="http://www.tu.koszalin.pl/">Politechnika Koszalińska</a></li>
                <li><a href="https://www.facebook.com/hacklag.warsaw/">HACKLAG (Explorer HQ,[Warszawa])</a></li>
            </ul>
        </div>
        <div class="segment">
            <h3>Sponsorzy</h3>
            <ul>
                <li>VPS - <a href="http://www.adminotaur.pl">Adminotaur</a></li>
                <li>30 kostek Micro:bit - <a href="http://microbit.org/">Micro:bit Educational Foundation</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
