{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <h3>Uczestniczymy i rozwijamy projekty:</h3>
        <div class="well">
            <a href="http://politikon.org.pl/" target="_blank">Politikon</a> źródła na <a href="https://github.com/KlubJagiellonski/Politikon">GitHub</a>.
        </div>
        <div class="well">
            Orienteering, źródła: <a href="https://github.com/WojtekReu/orienteering">GitHub</a>.
        </div>
        <div>Przyłącz się!</div>
    </section>
{% endblock %}

