{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Projekty:</h3>
            <ul>
                <li>Strona <a href="https://plpug.org/">Stowarzyszenia PLPUG</a>, źródła: <a href="https://github.com/plpug/website">GitHub</a>.</li>
                <li><a href="{% url 'microbit' %}">Microbit</a> Projekt źródła: <a href="https://github.com/plpug/Microbit">GitHub</a>.</li>
            </ul>
        </div>
        <div class="segment">
            <h3>Uczestniczymy również w innych projektach</h3>
            <ul>
                <li><a href="http://politikon.org.pl/" target="_blank">Politikon</a> - Projekt rozwijany na spotkaniach <a href="https://kodujdlapolski.pl/projects/politikon/" target="_blank">Koduj dla Polski</a> , źródła na <a href="https://github.com/KlubJagiellonski/Politikon">GitHub</a>.</li>
            </ul>
        </div>
    </section>
{% endblock %}

