{% extends 'base.html' %}{% load i18n %}

{% block content %}
    <section id="contener">
        <div class="segment">
            <h3>Projekty:</h3>
            <ul>
                <li>Strona <a href="https://plpug.org/">Stowarzyszenia PLPUG</a>, źródła: <a href="https://github.com/plpug/website">GitHub</a>.</li>
                <li>Microbit Projekt źródła: <a href="https://github.com/plpug/Microbit">GitHub</a>.</li>
            </ul>
        </div>
        <div class="segment">
            <h3>Uczestniczymy również w innych projektach</h3>
            <ul>
                <li>Orienteering, źródła: <a href="https://github.com/WojtekReu/orienteering">GitHub</a>.</li>
                <li><a href="http://politikon.org.pl/" target="_blank">Politikon</a> - Projekt Klubu Jagiellońskiego, źródła na <a href="https://github.com/KlubJagiellonski/Politikon">GitHub</a>.</li>
            </ul>
        </div>
    </section>
{% endblock %}

