body {
    background-color: #f5f8fa;
    color: #1e3948;
}
img.logo {
    display: inline-block;
}
header h1 {
    display: inline-block;
    margin-left: 3%;
}
header {
    text-align: center;
}
#content, nav, header {
    max-width: 1140px;
    margin: 0 auto;
}
footer {
    width: 100%;
    text-align: center;
}
footer p {
    margin:20px 0;
}
.segment {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
