{% extends 'base.html' %}{% load i18n static %}

{% block content %}
    <h3>Nadchodzące wydarzenia:</h3>
    {% for event in future_events %}
    <section id="contener">
        <div class="segment">
            <strong>{{ event.started_at|date:"d.m.Y" }} - {{ event.place }}<br/></strong>
            <hr />
            <p><strong>{{ event.title }}</strong></p>
            <div>
                {{ event.content|safe }}
            </div>
        </div>
    </section>
    {% endfor %}

    <h3>Minione wydarzenia:</h3>
    {% for event in past_events %}
    <section id="contener">
        <div class="segment">
            <strong>{{ event.started_at|date:"d.m.Y" }} - {{ event.place }}<br/></strong>
            <hr />
            <p><strong>{{ event.title }}</strong></p>
            <div>
                {{ event.content|safe }}
            </div>
        </div>
    </section>
    {% endfor %}

{% endblock %}
